body {
 margin: 0;
}

.grid-container {
  overflow: auto;
  margin: 2rem;
}

.grid-item {
  float: left;
  width: calc(100% / 3 - 2rem - 2rem);
  margin: 2rem;
}

.img-octocats {
  max-width: 25rem;
  border: .025rem black solid;
  border-radius: 2%;
}

.img-avatar {
  max-width: 2rem;
  border-radius: 10%;
}

.title {
  float: right;
}

.number {
  float:left;
  margin-top: .5rem;
}

.grid-footer {
  overflow: auto;
  border-bottom: .025rem black solid;
}
